@*We can easily put this in order to not declare whole namespace*@
@using WebApplication1.Controllers;

@*Without using it will be like 
	@model WebApplication1.Controllers.HomeController.Person[]*@
@model HomeController.Person[]

<h2>Foreach loop</h2>
<ul>
	@foreach (HomeController.Person person in Model)  @*Or @foreach (var person in Model)*@
	{
		<li>@person.FirstName</li>
	}
</ul>

<h2>For loop</h2>
<ul>
	@for (int j = 0; j < Model.Length; j++)
	{
		<li>@Model[j].FirstName</li>
	}
</ul>

<h2>While loop</h2>
<ul>
	@{ int i = 0;}
	@while (i < Model.Length)
	{
		<li>@Model[i].LastName @Model[i].FirstName</li>
		i = i + 1;
	}
</ul>

<h2>DoWhile loop</h2>
<ul>
	@{int index = 0;}
	@do
	{
		<li>@Model[index].FirstName @Model[index].LastName</li>
		index = index + 1;
	} while(index < Model.Length);
</ul>